html {
    background-color: #ffdd86;
    /* background: linear-gradient(0deg, #ffdd87 0%, #ffdd87 80%,#3c150b 80%, #3c150b 100%) !important; */
}

body {
    margin: 0px;
    color: #3c150b;
    font-size: 75px;
    font-weight: 100px;
    font-family: 'komadori';
}

main {}

.page1 {

    width: 100vw;
    height: 100vh;

    .header {
        width: 100vw;
        background-color: rgba(60, 21, 11, 1);
        height: 100px;
    }

    .title {
        /* 
        height: 140vh;
        position: relative;
        top: 0;
        
        animation: scroll-anim linear;
        animation-timeline: scroll();
        animation-range: entry 0% exit 9%;
        transition: all 0.5s;
 */
        width: 100vw;
        height: 100vh;
        /* Adjust for header height */
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 10px;
        /* Adjust for header height */
        left: 0;
        transition: all 0.5s;

        .font {
            letter-spacing: 10px;
            font-size: 50px;
            font-family: "07";
            transition: all 0.5s;
        }

        .komadori {
            font-size: 45px;
            font-family: "komadori";
            margin-left: 10px;
            transition: all 0.5s;

        }

        img {
            margin-left: 30px;
            width: 250px;
            transition: all 0.5s;
            position: relative;
        }
    }
    .shake-animation {
        animation: shake 1.5s ease;
    }
}

.picture2 {

    height: 450vh;

    .sticky_wrap2 {

        overflow: hidden;
        position: sticky;
        top: 0;
        height: 100vh;
        font-size: 25px;
        font-family: '07';
        line-height: 2.6;
    }

    .horizontal_scroll2 {
        position: absolute;
        /* top: 0; */
        height: 100%;
        width: 450vw;
        will-change: transform;
        display: flex;
        font-size: 25px;
        margin: auto;

        .a1 {
            height: 90vh;
            width: 50vw;
            flex-direction: column;
            align-items: center;
            display: flex;
            padding: 100px;

            img {
                align-items: center;
                position: relative;
                transform: rotate(0deg);
            }
        }

        .shake-animation {
            animation: shake 1.5s ease;
        }

        .a2 {
            height: 90vh;
            width: 50vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 100px;

            .yaya {
                width: 100%;

                .content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .content img {
                        margin-right: 20px;
                        /* Adjust the margin as needed */
                        transition: transform 3.5s;
                        /* 傾きをスムーズに変えるためのトランジション */

                        transform: rotate(0deg);

                        /* 初期値 */


                    }

                    .content ul {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }

        .shake-animation {
            animation: shake 1.5s ease;

        }

        .a3 {
            height: 90vh;
            width: 40vw;
            flex-direction: column;
            align-items: center;
            padding: 100px;

            .con ul {
                margin-top: -30px;
                margin-left: 30px;

            }
        }

        .a4 {
            height: 90vh;
            width: 40vw;
            flex-direction: column;
            align-items: center;
            padding: 100px;
            display: flex;

            img {
                align-items: center;
                position: relative;
            }
        }

        .shake-animation {
            animation: shake 1.5s ease;

        }


        .a5 {
            display: flex;
            height: 90vh;
            width: 45vw;
            flex-direction: column;
            align-items: center;
            padding: 100px;

            img {
                align-items: center;
                position: relative;
                transform: rotate(0deg);
            }
        }

        .shake-animation {
            animation: shake 1.5s ease;
        }

        .a6 {
            display: flex;
            height: 90vh;
            width: 40vw;
            flex-direction: column;
            align-items: center;
            padding: 100px;

            img {
                align-items: center;
                position: relative;
                transform: rotate(0deg);
            }
        }

        .shake-animation {
            animation: shake 1.5s ease;
        }

        .a7 {
            display: flex;
            height: 90vh;
            width: 35vw;
            flex-direction: column;
            align-items: center;
            padding: 100px;
            line-height: 1.1;

            img {
                align-items: center;
                position: relative;
                transform: rotate(0deg);
            }
        }

        .shake-animation {
            animation: shake 1.5s ease;
        }
    }

    img {
        width: 300px;
        height: 360px;
        padding: 0px 0px;
        border-radius: 10px;
        outline: 10px solid #3c150b;

        margin: 40px;
        display: flex;
        align-items: center;
        justify-self: center;
    }
}


.picture {

    .dake {
        font-size: 60px;
        display: flex;
        /* height: 100vh; */
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-family: "komadori";
        text-align: center;
        flex-direction: column;

        
        animation: scroll-anim0 linear;
        animation-timeline: scroll();
        /* animation-range: entry 0% cover 100%; */

        .dayo {
            font-family: "07";
            font-size: 30px;
            display: flex;
            width: 100vw;
            justify-content: center;
            margin-top: -70px;
        }
    }


}


.button {
    height: 50vh;
    display: flex;
    justify-content: center;

    img {
        width: 170px;
        margin: -7px;
        border-radius: 50%;
    }

    align-items: center;
    position: relative;

    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    .comment {
        padding-top: 270px;


        font-family: "komadori";
        font-size: 15px;
    }
}

.progressbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 10px;
    background-color: #3c150b;
    border-radius: 60px;
    /* outline: 10px solid #3c150b; */
    animation: progressbar linear both;
    animation-timeline: scroll();
    animation-range: entry 0% cover 100%;
}

@keyframes progressbar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@font-face {
    font-family: "komadori";
    src: url("./font/komadori-mini.otf") format("truetype");
}

@font-face {
    font-family: "07";
    src: url("./font/YDWaosagi.otf") format("truetype");
}

@keyframes scroll-anim {
    from {
        opacity: 0.2;
        transform: scale(0.4);
    }

    to {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes shake {
    0% {
        transform: rotate(22deg);
    }

    15% {
        transform: rotate(-12deg);
    }

    30% {
        transform: rotate(9deg);
    }

    45% {
        transform: rotate(-8deg);
    }

    65% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes scroll-anim0 {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
    }
}