html {
    background-color: #ffdd86;
    /* background: linear-gradient(0deg, #ffdd87 0%, #ffdd87 80%,#3c150b 80%, #3c150b 100%) !important; */
}

body {

    margin: 0px;
    color: #3c150b;
    overflow-x: hidden;
    font-size: 75px;
    font-weight: 100px;
    font-family: 'komadori';

}

main {}

.page1 {

    width: 100vw;
    height: 100vh;

    .header {
        z-index: 100;

        width: 100vw;
        background-color: rgba(60, 21, 11, 1);
        height: 180px;
    }

    .container {
        font-size: 80px;
        font-weight: lighter;
        letter-spacing: 10px;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    img {

        margin-top: -100px;
        width: 250px;

    }
}

.picture {

    height: 320vh;



    .sticky_wrap {
        overflow: hidden;
        position: sticky;
        top: 0;
        height: 100vh;
    }

    .horizontal_scroll {
        position: absolute;
        top: 0;
        height: 100%;
        width: 320vw;
        will-change: transform;
        display: flex;

    }

    .one {
        font-size: 60px;
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .pic {
        margin: auto 0px;
    }

    img {
        width: 400px;
        height: 500px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        margin: -7px;
        border-radius: 50%;
    }

    .two {
        padding-left: 100px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }




}

.kasane {
    margin-top: -100vh;
    height: 150vh;

    .three {

        width: 100vw;
        height: 100vh;
        position: sticky;
        top: 0px;
        left: 0px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.page2 {

    width: 100vw;
    height: 700vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -600vh;
    position: relative;

    .speech {
        top: 0;
        position: sticky;
        width: 100vw;
        height: 100vh;


        .container1,
        .container2 {


            position: absolute;
            /* 子要素を絶対位置に設定 */
            top: 50%;
            /* 上下中央に配置 */
            left: 50%;
            /* 左右中央に配置 */
            transform: translate(-50%, -50%);
            white-space: nowrap;
        }



        .container1 {
            font-family: "komadori";
            letter-spacing: 10px;
            margin-left: -50px;
            font-size: 47px;
            line-height: 2.6;


        }

        .container2 {
            font-size: 35px;
            font-family: "07";
            line-height: 3.4;
            top: 43%;
            left: 35%;

        }
    }
}

.button {

    height: 50vh;
    display: flex;
    justify-content: center;

    img {
        width: 170px;
        margin: -7px;
        border-radius: 50%;
        /* ここで角を丸める */
    }

    align-items: center;

    position: relative;


    .button {
        position: absolute;
        /* 子要素を絶対位置に設定 */
        top: 50%;
        /* 上下中央に配置 */
        left: 50%;
        /* 左右中央に配置 */
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    .comment {
        padding-top: 270px;


        font-family: "komadori";
        font-size: 15px;
    }

    /* .tayo {
        width: 200px;
        position: absolute;
        bottom: 0;
 
    } */
}




@font-face {
    font-family: "komadori";
    src: url("./font/komadori-mini.otf") format("truetype");
}

@font-face {
    font-family: "07";
    src: url("./font/YDWaosagi.otf") format("truetype");
}